/*----------------------------------------body----------------------------------------*/

body{
    margin:0;
    padding:0;
    height: 3750px;

}
/*----------------------------------------header----------------------------------------*/

header{
    width: 100%;
    z-index: 100;

}
/*----------------------------------------Menu hamburguesa-1----------------------------------------*/

#mini-menu-check{
    display: none;
}

#mini-menu{
    display: none;
}
/*----------------------------------------navegador----------------------------------------*/

nav{
    width: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
    height: 150px;
    padding: 40px 0;
    display: flex;
    box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    z-index: 4;
    position: relative;
}


nav ul { 
    margin-left: -30%;
    display: flex;
    list-style: none;
    margin-top: 5%;
}

nav ul li img{
    width: 170px;
    height: 155px;
    margin-top: 20%;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 25px 20px 25px 20px;
    border-radius: 5px;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    z-index: 101;
}

nav ul li {
margin-right: 7%;

}

nav a:hover{
    animation: bordes 1.5s;
    background: linear-gradient(rgba(255, 0, 0, 0.925),rgba(255, 77, 0, 0.925)); 
    color: rgb(255, 255, 255);
}

.nav-izq{
    float: left;
    display: flex;
}

.nav-derech{
    float: right;
    z-index: -1;
}

.img-brillito1{
    width: 190px;
    height: 220px;
    margin-right: -5%;
    margin-left: -18%;
    margin-top: -11%;
}
.img-brillito2{
    width: 300px;
    height: 200px;
    margin-top: 9%;
    margin-left: -13%;
}
.img-brillito3{
    width: 250px;
    height: 190px;
    margin-left: 35%;
    margin-top: -20%;
    z-index: -1;
}

/*----------------------------------------TITULO----------------------------------------*/

.img-wallpaper1{
    width: 100%;
    height: 100%;
    margin-bottom: -30%;
    z-index: 1;
    position: relative;
}

.img-wallpaper2{
    width: 100%;
    height: 100%;
    transform: translate(0%, -105%);
    filter: blur(1px);
    margin-bottom: -60%;
    z-index: 2;
    position: relative;
}

.img-wallpaper3{
    width: 60%;
    height: 60%;
    transform: translate(28%, -215%);
    position: relative;
    z-index: 3;
}

/*----------------------------------------Transicion-CLOUD----------------------------------------*/

.cloud-boceto{
    width: 100% ;
    height:150% ;
    margin-top: -30%;
    position: absolute;
    z-index: 5;
}
.clouds-back{
    width: 100% ;
    margin-top: -35%;
    margin-bottom: -2000px;
    position: absolute;
    z-index: 13;
}
.clouds-left-back{
    width: 100% ;
    margin-top: -30%;
    margin-bottom: -2000px;
    position: absolute;
    z-index: 14;
}
.clouds-left-front{
    width: 100% ;
    margin-top: -30%;
    margin-bottom: -2000px;
    position: absolute;
    z-index: 15;
}
.clouds-rigth{
    width: 100% ;
    margin-top: -40%;
    position: absolute;
    z-index: 16;
}

/*----------------------------------------SECTION slider-spicodelico---------------------------------*/

.slider-spicodelico{/*Section general*/
 height: 15%;
 width: 70%;
 margin: auto;
}
.h1-ACCEDE{
    margin-left: 20%;
    margin-bottom: -10px;
    font-size: 60px;
    font-family:'StretchPro';
    font-style: italic;
 }

.h1-herramientas{
   margin-left: 65%;
   font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.h1-tutoriales{
    margin-left: 70%;
    margin-bottom: -40px;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 20px;

}

.h1-plataforma{
    margin-top: -25%;
    margin-left: -5%;
    position: absolute;
    z-index: 11;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.h2-exhibir{
    margin-top: -19%;
    margin-left: 0%;
    position: absolute;
    z-index: 11;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}
.p-exhibir{
    margin-top: -21%;
    margin-left: 5%;
    margin-bottom: -1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p-ymas {
    margin-left: 5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-ymas img{
    width: 30%;
    height: 30%;
    margin-top: 5%;
    margin-bottom: -15%;
    margin-left: 5%;
    filter: blur(0.5);
}

.h3-En{
    font-size: 50px;
    font-family: 'adelia', sans-serif;
    margin-left: 27%;
}

#myVideo {  /*video que esta descartado*/
 
    width: 60%;
    height: 90%;

  }

.bloque-izquierdo{ /*contiene a las imagenes que estan a la izquierda*/
    margin-bottom: -40%;
    margin-left: -5%;
    margin-top: -30%;

  }

.retro0-img{ 
    width: 20%;
    margin-bottom: -25%;
    margin-left: -10%;
    margin-top: -1000px;
    position: relative;
    z-index: 7;
}

.retro-imag{ /* imagen izquierda 1 la que es una imagen retro*/
    width: 60%;
    margin-bottom: -40%;
    margin-left: -10%;
    position: relative;
    z-index: 5;
}

.flower{/* imagen izquierda 1 la que es una flor*/
    width: 45%;
    margin-left: 25%;
    margin-top: 10%;
    position: relative;
    z-index: 12;
    
}

.recuadro-tranqui{/* Articulo perteneciente a slider-psicodelico y que contiene al ovalo*/
 height: 70%;
 width: 70%;
 margin-left: 25%;
 margin-top: 15%;
 background-color: rgb(255, 255, 255);
 -webkit-box-shadow: inset 0px 0px 40px -4px rgba(0,0,0,0.5);
 -moz-box-shadow: inset 0px 0px 40px -4px rgba(0,0,0,0.5);
 box-shadow: inset 0px 0px 40px -4px rgba(0,0,0,0.5);

}

.ovalo{
  height: 75%;
  width: 25%;
  background-color: red;
  margin-top: 1%;
  margin-left: 23%;
  position: absolute;
  border-radius: 45%;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 36px 10px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 36px 10px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 36px 10px rgba(0,0,0,1);
}

.ovalo ul{
    height: 300%;
    padding: 0;
    margin: 0;
    text-align: center;
    animation: slider 15s infinite alternate;
}

.ovalo ul li{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 36%;
    list-style: none;
}

.ovalo ul li .img-slider{
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 7;
    margin-bottom: -150px;
}

.titulo{/*es el div que contiene lo del hover*/
  width:100% ;
  height:100px ;
  margin-top: 70px;
  opacity: 0;
  position: relative;
  z-index: 8;

}

.titulo h3{
    margin-top: -100px;
    position: relative;
    z-index: 10;
    font-size: 20px;
}

.marco{/*img que contiene al marco*/
    width: 115% ;
    margin-bottom: -100px;
    position: relative;
    z-index: 9;

}

.titulo:hover{
    transition: 1s;
    margin-top: -70px;
    opacity: 1;   
}
/*Section-Salida*/

.section-MangaComic {/*la section en si*/

    height: 15%;
    width: 80%;
    margin: auto;
    margin-top: 55%;
    display: flex;
}
.article-dibujos{/*article a la izquierda*/
    width: 60%;
    margin: 0;
    margin-top: -20%;
    padding: 0;
}

.img-original {
   transform: rotate(340deg);
   width: 80%;
   margin-right: -30%;
   margin-left: -30%;
   margin-bottom: -10%;
   position: relative;
  z-index: 5;
}

.div-exposicion{

    width: 460px;
    height: 640px;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: -100px;



}

.div-exposicion ul{
    display: flex;
    width: 300%;
    height: 640px;
    margin-left: -10px;
    animation: slider2 55s infinite alternate ease-in-out;
}

.div-exposicion ul li{
    padding: 0;
    list-style:none;
    height: 640px;
    width: 560px;
    margin-left: -15px;
    margin-bottom: -35px;
    margin-right: -10px;

}
.div-exposicion ul li img{
    height: 640px;
    width: 100%;
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -10px;
    padding: 0;
    
}

.marco2{
    width: 460px ;
    height: 660px;
    margin-top: -2040px;
    position: relative;
}

.article-chaochao{/*articulo derecho*/
    margin: 0;
    margin-left: -5%;
    padding: 0;
    width: 50%;
    border-radius: 25px;
    border-color :	black ;
border-width :	medium;
border-style:none;
}

.article-chaochao h1{
font-size: 50px;
 margin-top: -3%;
margin-left: 25%;
 font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.article-chaochao p {
    font-size: 30px;
    margin-top: -5%;
    margin-left: 30%;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.img-chaochao{
    width: 125%;
    margin-top: -25%;
    margin-left: -30%;
    position: relative;
    z-index: 6;
}
/*-------------------------------------------------------------------------*/
.img-shine1{
    margin-left: -5%;
    height: 15%;

    margin-top: -20%;
    position: relative;
    z-index: 8;

}

.img-shine2{
    margin-left: 30%;
    height: 15%;
    margin-top: -15%;
    opacity: 0.6;
    transform: rotate(355deg);
}

/*----------------------------------------SECTION Creditos----------------------------------------*/

.section-creditos{

    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.section-creditos h1{
    font-size: 15px;
    color: rgb(33, 33, 33);
    font-style: italic;
    color: rgb(43, 72, 117);
    margin-left: 3%
}

.section-creditos article{
    height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;

}

.desarrollador{
    border-radius: 100%;
    height: 90%;
    width: 15%;
    background-color: white;
    margin: auto;
    border-width: 2px;
    overflow: hidden;

}

.desarrollador img{
 height: 100%;    
 width: 100%;
 clip-path: circle(50%);
}

.desarrollador:hover{
    animation: 1s aumentar;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*----------------------------------------Footer----------------------------------------*/

footer{
margin-top: 40px;
height: auto;
box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
background-color: rgba(0, 0, 0, 0.764);
}

.article-footer1{
 display: flex;
 margin-top: -40%;
}

.colm{   
    height: 500px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgba(0, 0, 0, 0.764);
    margin-bottom: -10px;
}



.colm2{   
    height: 500px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgba(0, 0, 0, 0.764);
    margin-bottom: -10px;
}
.colm2 h1{
    margin-top: 35px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;   
    text-align: center;
}

.colm2 ul{
    margin-top: 35px;
    list-style: none;
    margin-left: -10%;
}

.colm2 ul li{
    text-align: center;
    padding: 1%;
}
.colm2 ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;   

}


.colm h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;   
    text-align: center;
    position: relative;
    margin-top: -1%;
    margin-left: 3%;
}

.colm h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;    
    margin: 5px;
}

.colm button{
    width: 80%;
    height: 80px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(69, 69, 111);
    border-radius: 30px;
    color: #fff;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;   
    font-size: 20px;
}

.red-social a{
   width: 20px;
   height: 20px;
   margin: 5px;
}

.red-social a img{
    width: 20px;
    height: 20px;
    margin: 5px;
}


.corazon{
    width: 40%;
    margin-bottom: -20%;
    margin-top: -5%;
    transform: rotate(340deg);
}

.contenedor-flex{
    display: flex;
}

.article-footer2{
    background-color: rgba(0, 0, 0, 0.764);
}

.article-footer2 div{
 display: flex;
 padding: 5px;
}

.article-footer2 div img{
    width: 10%;
    margin: 1%;

}
.article-footer2 p{
    color: white;
    margin: auto;
}

.article-footer2 button{
    color: white;
    margin: auto;
    width: 10%;
    height: 100px;
    border-color: white;
    border-radius: 10px;
    background: none;
}

.article-footer3{
    display: flex;
    background-color: rgba(54, 54, 54, 0.764);
}

.article-footer3 p{
    color: rgb(28, 28, 28);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', Arial, sans-serif; 
    margin-left: 3%;
}

.article-footer3 ul{
    display: flex;
    margin: auto;
    margin-left: 30%;
    list-style: none;
}

.article-footer3 ul li{
    margin-right: 70px;
}

.article-footer3 ul li a{
    text-decoration: none;
    color: rgb(28, 28, 28);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;   
}

/*-------------------------------------------Menu-Hamburguesa-2-------------------*/
@media (max-width:768px){  /*tablets*/

    #mini-menu{
        display: block;
    }
    #mini-menu-check:hover{
        animation: aumentar 1s;
    }

    nav{
        position: absolute;
        width: 100%;
        height: auto;
        flex-direction: column;
        transition: all 0.5s;
        margin-top: -100%;
       
    }

    nav ul{
        flex-direction: column;
        margin-left: 0;
    }

    nav img{
        display: none;
    }


    nav li a{
        border: 0.5px solid #00000055;
        color: red;
    }

    #mini-menu-check:checked ~ nav{
        margin: 0;
    }
}


/*----------------------------------------Animaciones----------------------------------------*/

@keyframes slider {
    0% {margin-top: 0; }
    30% {margin-top: 0;}
    
    35% {margin-top: -150%; }
    65% {margin-top: -150%; }

    70% {margin-top: -300%; }
    100% {margin-top:-300%; }
}

@keyframes slider2 {
    0% {margin-left: 0; opacity: 1 ; }
    30% {margin-left: 0; opacity: 0.9;}
    
    
    35% {margin-left: -100%; }
    65% {margin-left: -100%; opacity: 0.9;}

    70% {margin-left: -200%;opacity: 1 ;  }
    100% {margin-left:-200%;opacity: 0.9; }


}

@keyframes bordes { 
    from{background: none; color: rgb(0, 0, 0);}
    to{background: linear-gradient(rgba(255, 0, 0, 0.925),rgba(255, 77, 0, 0.925)); color: white;}

}

@keyframes aumentar { 
    from{-webkit-transform:scale(1);
        transform:scale(1);opacity: 1;}
    to{     -webkit-transform:scale(1.01);
        transform:scale(1.01);opacity: 0.95;}
}


/*----------------------------------------FONTS----------------------------------------*/
@font-face {
    font-family: 'adelia';
    src: url('../../FONTS/adelia.otf');
}

@font-face {
    font-family: 'Doriel';
    src: url('../../FONTS/Doriel.otf');
}

@font-face {
    font-family: 'StretchPro';
    src: url('../../FONTS/StretchPro.otf');
}