
/*----------------------------------------body----------------------------------------*/

body{
    margin:0;
    padding:0;

}
/*----------------------------------------header----------------------------------------*/

header{
    width: 100%;
}
/*----------------------------------------Menu hamburguesa-1----------------------------------------*/

#mini-menu-check{
    display: none;
}

#mini-menu{
    display: none;
}

/*----------------------------------------navegador----------------------------------------*/
nav{
    width: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
    height: 150px;
    padding: 30px 0;
    display: flex;
    box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    z-index: 2;
    position: relative;
}


nav ul { 
    margin-left: -30%;
    display: flex;
    list-style: none;
    margin-top: 5%;
}

nav ul li img{
    width: 170px;
    height: 155px;
    margin-top: 20%;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 25px 20px 25px 20px;
    border-radius: 5px;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}

nav ul li {
margin-right: 30%;
}

nav a:hover{
    animation: bordes 0.5s;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(255, 0, 0, 0.925),rgba(255, 77, 0, 0.925));
}

.nav-izq{
    float: left;
    display: flex;
}

.nav-derech{
    float: right;
}

.img-brillito1{
    width: 190px;
    height: 220px;
    margin-right: -5%;
    margin-left: -18%;
    margin-top: -11%;
}
.img-brillito2{
    width: 300px;
    height: 200px;
    margin-top: 9%;
    margin-left: -13%;
}
.img-brillito3{
    width: 290px;
    height: 190px;
    margin-left: 90%;
    margin-top: -20%;
}

/*----------------------------------------Body falso----------------------------------------*/

#body{
    
    width: 800px;
    height: auto;
    margin: auto;
    background-color: rgba(210, 6, 6, 0);

}

/*----------------------------------------TITULO----------------------------------------*/

#section1{
    width: 800px;
    padding: 90px 20px 100px 20px;
    height: 600px;
    background-color: rgba(0, 255, 30, 0);

}

#section1 h2{
    font-family:'StretchPro';
    font-style: italic;
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.7;
  }
  #section1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
  }

#contenedor1{
    
    display: inline-flex;
    width: 800px;  
    height: 400px;
    margin: auto;
    background-color: rgba(5, 5, 5, 0.57);
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.Col{
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 0px;
    margin-right: 20px;
    float: left;
    background-color: aqua;

}

.Col h2{
     margin: 0px;
     padding: 0px;
    
}

.Col2{
    width: 200px;
    height: 200px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 0px;
    background-color: rgb(255, 255, 255);

}

.img{

    width: 100px;
    height: 100px;
    margin-top: 20%;
}


.p-despegable{
    background-color: rgba(36, 36, 36, 0);
    opacity: 0;
}

.Col2:hover{
    animation: invertir 1.5s;
    filter: invert(1);
    -webkit-transform:scale(1.01);
    transform:scale(1.01); 

}

.Col p:hover{
    opacity: 1 ;
    background-color: rgba(36, 36, 36, 0.525);
}

#logo:hover{
   animation: aumentar-logo 0.5s;
   -webkit-transform:scale(1.09);
   transform:scale(1.09);
}

#nombre:hover{
  animation: aumentar-nombre 0.5s;
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
}

#section2{
    height: 500px;
    width: 800px;
    padding: 50px 0px 190px 0px;
    margin: auto;
    background-color: rgba(247, 247, 247, 0.682);

}

/*----------------------------------------Footer----------------------------------------*/

footer{
    margin-top: 40px;
    height: auto;
    box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
    background-color: rgba(0, 0, 0, 0.764);
    }
    
    .article-footer1{
     display: flex;
     margin-top: -40%;
    }
    
    .colm{   
        height: 500px;
        width: 25%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: rgba(0, 0, 0, 0.764);
        margin-bottom: -10px;
    }
    
    
    
    .colm2{   
        height: 500px;
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: rgba(0, 0, 0, 0.764);
        margin-bottom: -10px;
    }
    .colm2 h1{
        margin-top: 35px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;   
        text-align: center;
    }
    
    .colm2 ul{
        margin-top: 35px;
        list-style: none;
        margin-left: -10%;
    }
    
    .colm2 ul li{
        text-align: center;
        padding: 1%;
    }
    .colm2 ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-family:Arial, Helvetica, sans-serif;   
    
    }
    
    
    .colm h1{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;   
        text-align: center;
        position: relative;
        margin-top: -1%;
        margin-left: 3%;
    }
    
    .colm h3{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;    
        margin: 5px;
    }
    
    .colm button{
        width: 80%;
        height: 80px;
        margin-top: 5%;
        margin-left: 10%;
        background-color: rgb(69, 69, 111);
        border-radius: 30px;
        color: #fff;
        font-family:'Franklin Gothic Medium', Arial, sans-serif;   
        font-size: 20px;
    }
    
    .red-social a{
       width: 20px;
       height: 20px;
       margin: 5px;
    }
    
    .red-social a img{
        width: 20px;
        height: 20px;
        margin: 5px;
    }
    
    
    .corazon{
        width: 40%;
        margin-bottom: -20%;
        margin-top: -5%;
        transform: rotate(340deg);
    }
    
    .contenedor-flex{
        display: flex;
    }
    
    .article-footer2{
        background-color: rgba(0, 0, 0, 0.764);
    }
    
    .article-footer2 div{
     display: flex;
     padding: 5px;
    }
    
    .article-footer2 div img{
        width: 10%;
        margin: 1%;
    
    }
    .article-footer2 p{
        color: white;
        margin: auto;
    }
    
    .article-footer2 button{
        color: white;
        margin: auto;
        width: 10%;
        height: 100px;
        border-color: white;
        border-radius: 10px;
        background: none;
    }
    
    .article-footer3{
        display: flex;
        background-color: rgba(54, 54, 54, 0.764);
    }
    
    .article-footer3 p{
        color: rgb(28, 28, 28);
        font-size: 15px;
        font-family:'Franklin Gothic Medium', Arial, sans-serif; 
        margin-left: 3%;
    }
    
    .article-footer3 ul{
        display: flex;
        margin: auto;
        margin-left: 30%;
        list-style: none;
    }
    
    .article-footer3 ul li{
        margin-right: 70px;
    }
    
    .article-footer3 ul li a{
        text-decoration: none;
        color: rgb(28, 28, 28);
        font-size: 15px;
        font-family:'Franklin Gothic Medium', Arial, sans-serif;   
    }

/*----------------------------------------Footer----------------------------------------*/

footer{
margin-top: 40px;
height: auto;
box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 55px 28px 0px rgba(0,0,0,0.4);
background-color: rgba(0, 0, 0, 0.764);
}

.article-footer1{
 display: flex;
 margin-top: -40%;
}

.colm{   
    height: 500px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgba(0, 0, 0, 0.764);
    margin-bottom: -10px;
}



.colm2{   
    height: 500px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgba(0, 0, 0, 0.764);
    margin-bottom: -10px;
}
.colm2 h1{
    margin-top: 35px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;   
    text-align: center;
}

.colm2 ul{
    margin-top: 35px;
    list-style: none;
    margin-left: -10%;
}

.colm2 ul li{
    text-align: center;
    padding: 1%;
}
.colm2 ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;   

}


.colm h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;   
    text-align: center;
    position: relative;
    margin-top: -1%;
    margin-left: 3%;
}

.colm h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;    
    margin: 5px;
}

.colm button{
    width: 80%;
    height: 80px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(69, 69, 111);
    border-radius: 30px;
    color: #fff;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;   
    font-size: 20px;
}

.red-social a{
   width: 20px;
   height: 20px;
   margin: 5px;
}

.red-social a img{
    width: 20px;
    height: 20px;
    margin: 5px;
}


.corazon{
    width: 40%;
    margin-bottom: -20%;
    margin-top: -5%;
    transform: rotate(340deg);
}

.contenedor-flex{
    display: flex;
}

.article-footer2{
    background-color: rgba(0, 0, 0, 0.764);
}

.article-footer2 div{
 display: flex;
 padding: 5px;
}

.article-footer2 div img{
    width: 10%;
    margin: 1%;

}
.article-footer2 p{
    color: white;
    margin: auto;
}

.article-footer2 button{
    color: white;
    margin: auto;
    width: 10%;
    height: 100px;
    border-color: white;
    border-radius: 10px;
    background: none;
}

.article-footer3{
    display: flex;
    background-color: rgba(54, 54, 54, 0.764);
}

.article-footer3 p{
    color: rgb(28, 28, 28);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', Arial, sans-serif; 
    margin-left: 3%;
}

.article-footer3 ul{
    display: flex;
    margin: auto;
    margin-left: 30%;
    list-style: none;
}

.article-footer3 ul li{
    margin-right: 70px;
}

.article-footer3 ul li a{
    text-decoration: none;
    color: rgb(28, 28, 28);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;   
}
    

/*-------------------------------------------Menu-Hamburguesa-2-------------------*/
@media (max-width:768px){  /*tablets*/

    #mini-menu{
        display: block;
    }

    #mini-menu-check:hover{
        animation: aumentar 1s;
    }

    nav{
        position: absolute;
        width: 100%;
        height: auto;
        flex-direction: column;
        transition: all 0.5s;
        margin-top: -100%;
       
    }

    nav ul{
        flex-direction: column;
        margin-left: 0;
    }

    nav img{
        display: none;
    }


    nav li a{
        border: 0.5px solid #00000055;
        color: red;
    }

    #mini-menu-check:checked ~ nav{
        margin: 0;
    }
}




@keyframes aumentar-nombre { 
    from{-webkit-transform:scale(1);
        transform:scale(1);}
    to{     -webkit-transform:scale(1.05);
        transform:scale(1.05);}
}

@keyframes aumentar { 
    from{-webkit-transform:scale(1);
        transform:scale(1);opacity: 1;}
    to{     -webkit-transform:scale(1.01);
        transform:scale(1.01);opacity: 0.6;}
}

@keyframes aumentar-logo { 
    from{-webkit-transform:scale(1);
        transform:scale(1);}
    to{    -webkit-transform:scale(1.09);
        transform:scale(1.09);}
}



@keyframes aparece { 
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes desaparece { 
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes parpadeo { 
    from{opacity: 1;}
    to{opacity: 0.2;}
}

@keyframes sombras { 
    from{box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, 
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          -webkit-transform:scale(1);
         transform:scale(1); 
      }

    to{box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
         rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        -webkit-transform:scale(1.01);
        transform:scale(1.01); 
        }
}

@keyframes invertir { 
    from{
          -webkit-transform:scale(1);
         transform:scale(1); 
         filter: invert(0);
      }

    to{
        -webkit-transform:scale(1.01);
        transform:scale(1.01); 
        filter: invert(1);
        }
}

/*----------------------------------------Animaciones----------------------------------------*/

@keyframes slider {
    0% {margin-top: 0; }
    30% {margin-top: 0;}
    
    35% {margin-top: -150%; }
    65% {margin-top: -150%; }

    70% {margin-top: -300%; }
    100% {margin-top:-300%; }
}

@keyframes slider2 {
    0% {margin-left: 0; opacity: 1 ; }
    30% {margin-left: 0; opacity: 0.9;}
    
    
    35% {margin-left: -100%; }
    65% {margin-left: -100%; opacity: 0.9;}

    70% {margin-left: -200%;opacity: 1 ;  }
    100% {margin-left:-200%;opacity: 0.9; }


}

@keyframes bordes { 
    from{background: none; color: rgb(0, 0, 0);}
    to{background: linear-gradient(rgba(255, 0, 0, 0.925),rgba(255, 77, 0, 0.925)); color: white;}

}

/*----------------------------------------FONTS----------------------------------------*/
@font-face {
    font-family: 'adelia';
    src: url('../../FONTS/adelia.otf');
}

@font-face {
    font-family: 'Doriel';
    src: url('../../FONTS/Doriel.otf');
}

@font-face {
    font-family: 'StretchPro';
    src: url('../../FONTS/StretchPro.otf');
}