section{    
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgba(210, 6, 6, 0);
    display: flex;
    margin-top: 2%;
}

.menu-article{
    width: 25%;
     background: linear-gradient(rgba(0, 0, 0, 0.566),rgba(0, 0, 0, 0.925));
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     border-radius: 10px;
     margin: 0px 45px 5px 0px;
     
}

.menu-article:hover{
    transition: 1s;
    width: 40%;
}

.ul-principal{
    list-style: none;
    margin-top: 15%;
    margin-left: -10%;
}

.ul-principal li{
    margin: 5% -5% 5% 0%;
}

.ul-principal li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.641);

    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.ul-principal li a:hover{
  transition: 0.3s;
  color: rgb(255, 255, 255);
}

.ul-secundario{
    list-style:none;
}

.draw-article{
    width: 70%;
    overflow: scroll;
    height: 500px;
}


.draw-article h1{
    font-family:'StretchPro';
    font-style: italic;
}

.draw-article h2{
color: rgb(48, 48, 48);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.draw-article h3{
    margin-left: 2%;
    color: rgb(26, 26, 26);
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.draw-article p{
    margin-left: 5%;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    font-style: italic;
}

.tutoriales-escrito{
    margin-left: 5%;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 10%;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .tutoriales-escrito img{
    width: 30%;
    position: relative;
    z-index: -1;
    margin-bottom: -25%;
    margin-left: -20%;
    
    opacity: 0.8;

  }

.tutoriales-escrito:hover{
    animation: aumentar 1s;
}

.tutoriales-video{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 680px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0.95;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.tutoriales-video iframe{
    width: 100%;
    height:100%;
}

.tutoriales-video:hover{
    animation: aumentar 1s;
}

.tutoriales-otros{
    width: 680px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 height:30px ;
 overflow: hidden;
 margin-bottom:-10%;
}

.tutoriales-otros video{
    width: 680px;
    background-color: aqua;
    
}

.tutoriales-otros:hover{
    transition: 2s;
    opacity: 0.5;
    
    
}
